/* Basic setup strat*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 3000px;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    border: 0;
    cursor: pointer;
}

p {
    line-height: 150%;
}

.clear {
    overflow: hidden;
}

/* header area design start */
.header-area {
    background: url(../img/slider1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 45px 0;

}

.brand-design {
    font-family: 'Pacifico', cursive;

}

.brand-design a {
    font-size: 40px;
    font-style: italic;
    text-decoration: none;
    color: #ffffff;
    text-transform: capitalize;
}

.social-icon ul li {
    padding-right: 3px;
}

.social-icon ul li a {
    text-decoration: none;
}

.social-icon ul li a i {
    font-size: 16px;
    color: #746253;
    width: 28px;
    height: 28px;
    text-align: center;
    padding: 5px 0;
    background-color: #d7d1c6;
    border-radius: 50%;
}

.social-icon ul li i:hover {
    background-color: #ffffff;
}

.line-design {
    border-top: 1px solid #ffffff;
    width: 100%;
}

/* menu design start */
.menu-design {
    margin-left: -36px
}

.menu-design ul li {
    padding-right: 15px;
}

.menu-design ul li a {
    font-family: ;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff !important;
    text-transform: uppercase;

}

.menu-design ul li .active a {
    color: #87b672;
}


.custom-btn {
    color: #ffffff;
}

.custom-btn i {
    font-size: 16px;
    text-decoration: none;
    padding-right: 244px;
}

/* menu design end */
/* slider dessign start */
.slider-content {
    color: #ffffff;
}

.slider-content h2 {
    font-size: 36px;
    font-weight: 500;
    text-transform: initial;
    padding-top: 145px;
    margin-bottom: 0 !important;
}

.heading-inner {
    color: #87b672;
}

.slider-content p {
    font-size: 22px;
    text-transform: initial;
    padding-top: 10px;
    padding-bottom: 30px;
}

.slider-btn {
    color: #ffffff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 0;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    margin-bottom: 120px;

}

.slider-btn:hover {
    color: #ffffff;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ffffff;
    transition: opacity .6s ease;
}

.carousel-indicators li.active {
    color: #ffffff;
    transform: scale(1.5);
}

.carousel-control-prev-icon {
    background-image: none;
}

.carousel-control-next-icon {
    background-image: none;
}

.carousel-control-prev i {
    color: #694c1f !important;
    font-size: 30px;
    padding: 3px;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 25%;
    left: -50%;
}

.carousel-control-prev i:hover {
    background-color: #ffffff;
}

.carousel-control-next i {
    color: #694c1f !important;
    font-size: 30px;
    padding: 3px;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: 25%;
    right: -50%;
}

.carousel-control-next i:hover {
    background-color: #ffffff;
}


/* slider dessign end */
/* header area design end */
/* service section style start */

.service-area {
    padding: 60px 0;
}

.common-title h2 {
    font-weight: bold;
    font-size: 20px;
    color: #666262;
    text-transform: uppercase;
    padding-bottom: 25px;
    margin-bottom: 0;
}

.common-title p {
    font-size: 14px;
    font-weight: normal;
    color: #9b9999;
    padding-bottom: 40px;
    margin-bottom: 0;
}

.line-design {
    border-top: 1px solid #cccccc;

}

/* service section style end */
/* service item design start */
.single-item i {
    font-size: 80px;
    color: #b9b7b7;
}

.single-item h4 {
    font-weight: bold;
    font-size: 18px;
    color: #666262;
    text-transform: capitalize;
    margin: 0;
    padding: 30px 0;
}

.single-item p {
    font-size: 14px;
    color: #9b9999;
    line-height: 22px;
    text-transform: initial;
}

.single-item h5 {
    font-size: 16px;
    font-weight: bold;
    color: #accb9f;
    text-transform: capitalize;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 60px;
}

/* service item design end */


/* portfolio design start */
.portfolio {
    padding: 60px 0;
    background: #efefef;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;

}

/* When you mouse over the container, fade in the overlay icon*/
.port-image:hover .overlay {
    opacity: 1;
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.icon {
    color: #c1c1c1;
    font-size: 35px;
    background-color: #464c52;
    padding: 3px 10px;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* When you move the mouse over the icon, change color */
.fa-plus:hover {
    color: #c1c1c1;
}

.port-des h5 {
    font-size: 16px;
    font-weight: bold;
    color: #666262;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 40px;
}

.custom-btn2 {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background: #87b672;
    padding: 8px 20px;
    border-radius: 0;
}

.custom-btn2:hover {
    color: #ffffff;
}

/* portfolio design end */




/*     font-family: 'Pacifico', cursive;

    font-family: 'Poppins', sans-serif; */